Source: ros-humble-automatika-embodied-agents
Section: misc
Priority: optional
Maintainer: Automatika Robotics <contact@automatikarobotics.com>
Build-Depends: debhelper (>= 9.0.0), python3-httpx, python3-platformdirs, python3-pytest <!nocheck>, python3-tqdm, python3-websockets, ros-humble-ament-cmake, ros-humble-ament-cmake-python, ros-humble-automatika-ros-sugar, ros-humble-builtin-interfaces, ros-humble-rosidl-default-generators, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-ros-workspace, ros-humble-rosidl-typesupport-fastrtps-c, ros-humble-rosidl-typesupport-fastrtps-cpp
Homepage: https://github.com/automatika-robotics/embodied-agents
Standards-Version: 3.9.2

Package: ros-humble-automatika-embodied-agents
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-httpx, python3-platformdirs, python3-tqdm, python3-websockets, ros-humble-automatika-ros-sugar, ros-humble-builtin-interfaces, ros-humble-rosidl-default-runtime, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-ros-workspace
Description: agents
